.priceLineThrough {
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--gray);
}
.price,
.priceLineThrough {
  text-align: left;
  & span {
    color: var(--gray);
  }
}
.priceDiscount {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: -50px;
  font-size: 14px;
  color: #000;
}
