.container {
  padding: 1.5rem;
  height: calc(100% - 400px);
}

.backBtn {
  position: absolute;
  width: 38;
  height: 38;
  border-radius: 6px;
  border: 1px solid gray;
  background-color: #80808050;
  padding: 8px;
  cursor: pointer;
  border: 1px solid #ffffff50;
  z-index: 10;

  top: 25px;
  left: 25px;

  &:hover {
    background-color: #80808080;
  }
}

.priceAndAddToCartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.title {
  font-weight: 700;
  margin-bottom: 5rem;
}

// .priceDiscount {
//   position: absolute;
//   width: 40px;
//   height: 20px;
//   background-color: var(--primary);
//   border-radius: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   top: 0;
//   // right: -100px !important;
//   font-size: 14px;
//   color: #000;
// }

.discountContainer {
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;

  gap: 4px;
  padding: 4px;

  border-radius: 0 4px 4px 0;

  background-color: var(--error);
}
.discountNumber {
  font-weight: 700;
  text-align: center;
}
.discountText {
  font-size: 10;
  text-align: center;
}

.btnContainer {
  position: fixed;
  bottom: 16px;
  left: 50%;
  translate: -50% 0;
  width: min(500px, 100vw);
  padding: 0 16px;

  display: flex;
  gap: 12px;
  overflow: hidden;
}

.completeBuyBtn {
  width: 100%;
  padding: 4px !important;
  font-weight: 700;
}

.itemCount {
  border-radius: 100%;
  width: 22px;
  height: 22px;
  background-color: #000;
  display: inline-block;
  margin-left: 4px;
}

.menuBtnOUtline {
  width: 150px;
  font-size: 12px;
  color: var(--primary) !important;
  background-color: var(--background) !important;
  font-weight: 700;
}

.menuBtn {
  width: 100%;
  font-size: 12px;
  font-weight: 700;
}
