.container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  max-width: 500px;

  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--primaryText);

  cursor: pointer;
}
