.container {
  margin-bottom: 16px;
  padding: 1rem;
  position: relative;

  display: grid;
  grid-template-columns: 110px calc(100% - 110px);
  @media (max-width: 400px) {
    grid-template-columns: 70px calc(100% - 60px);
  }
  gap: 4px;

  border-radius: 0.5rem;
  box-shadow:
    0 2px 8px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.discountContainer {
  position: absolute;
  top: 0;
  left: 2rem;
  width: 40px;

  gap: 4px;
  padding: 4px;

  border-radius: 0 0 4px 4px;

  background-color: var(--error);
}
.discountNumber {
  font-weight: 700;
  text-align: center;
}
.discountText {
  font-size: 10;
  text-align: center;
}

.title {
  direction: ltr;
  text-align: right;
  margin-bottom: 4rem;
  // width: 80%;
  padding-left:80px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  direction: ltr;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;

  margin-bottom: 16px;
  overflow-x: auto;
  max-width: 90%;
}

.priceLineThrough {
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--gray);
  text-align: left;
}
.price {
  text-align: left;
  & span {
    color: var(--gray);
  }
}
