.button {
  position: fixed;
  bottom: 16;
  left: 50%;
  translate: -50% 0;
  // width: 468px;
  width: calc(100vw - 32px);
  justify-content: space-between !important;
  font-weight: 700;
  z-index: 10;
}

.itemCount {
  border-radius: 100%;
  width: 25;
  height: 25;
  display: inline-block;
  background-color: #000;
  margin-left: 4px;
}
