.container {
  margin-bottom: 16px;
  padding: 1rem;
  position: relative;
  overflow: hidden;

  display: grid;
  grid-template-columns: 110px 1fr;
  gap: 4px;

  border-radius: 0.5rem;
  box-shadow:
    0 2px 8px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.discountContainer {
  position: absolute;
  top: 0;
  left: 2rem;
  width: 40px;

  gap: 4px;
  padding: 4px;

  border-radius: 0 0 4px 4px;

  background-color: var(--error);
}
.discountNumber {
  font-weight: 700;
  text-align: center;
}
.discountText {
  font-size: 10;
  text-align: center;
}

.title {
  margin-bottom: 4rem;
  width: 80%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardDescription {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;

  margin-bottom: 16px;
}

.priceLineThrough {
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--gray);
  text-align: left;
}
.price {
  text-align: left;
  & span {
    color: var(--gray);
  }
}
