.container {
  margin-bottom: 16px;
  padding: 1rem;
  position: relative;

  display: grid;
  grid-template-columns: 110px 1fr;
  gap: 4px;

  border-radius: 0.5rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.discount-badge {
  position: absolute;
  top: 0;
  left: 2rem;
  width: 40px;

  gap: 4px;
  padding: 4px;

  border-radius: 0 0 4px 4px;

  background-color: var(--error);
}
.discount-badge-number {
  font-weight: 700;
  text-align: center;
}
.discount-badge-text {
  font-size: 10;
  text-align: center;
}

.title {
  margin-bottom: 4rem;
  width: 80%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;

  margin-bottom: 16px;
}

.price-discount {
  font-size: 14px;
  text-decoration: line-through;
}
.price,
.price-discount {
  text-align: left;
  & span {
    color: var(--gray);
  }
}
